@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/** Global values, Colors etc **/
:root {
    --main-bg-color: #158d9c;
    --main-mochromatic-color: #1BB6C9;
    --main-complementary-color: #9C2415;
}


html {
    color: #222;
    font-size: 10px;
    line-height: 1.4;
    font-family: 'Playfair Display Bold', serif;
    scroll-behavior: smooth;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h1 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    color: black;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem;
}

.section-title span {
    color: var(--main-complementary-color);
}

.project h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.name h1 {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: white;
}

.name span {
    color: var(--main-mochromatic-color);
}

/* Header section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: #29323c; /*rgba(31, 30, 30 , 0.44)*/
    transition: .8s ease background;
}

#header a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: .1rem;
    font-size: 2rem;
}

#header a:hover {
    color: var(--main-mochromatic-color);
}

#header .nav-list a {
    display: flex;
    align-items: end;
}

#header .project {
    display: flex;
    flex-direction: row;
    position: relative;
    white-space: nowrap;
}

#header .nav-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .project span {
    color: var(--main-mochromatic-color);
}

/* Sensor Information */

#sensorInfo .sensorInfo {
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    width: 90%;
}

#sensorInfo .sensorInfo-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#sensorInfo .sensorInfo-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 50px;
}

#sensorInfo .sensor-item {
    width: 80%;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 18px 0 #0000002c;
    flex-direction: column;
    transition: .3s ease box-shadow;
}

#sensorInfo .sensor-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#sensorInfo .icon {
    width: 70px;
    margin: 0 auto 10px;
}

#sensorInfo .sensor-data h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

#sensorInfo .sensor-data .ledbt {
    display: inline-block;
    background-color: transparent;
    border: 2px solid var(--main-bg-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .3s ease;
    transition-property: background-color, color;
    -webkit-appearance: none;
    color: var(--main-bg-color);
    font-weight: 400;
    border-radius: 10px;
    padding: 2px;
	margin-top: 8px;
}

#sensorInfo .sensor-data .ledbt:hover {
    color: white;
    background-color: var(--main-bg-color);
}

#sensorInfo p {
    font-size: 1.9rem;
    font-weight: 400;
}

#sensorInfo .data-unit {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#sensorInfo h2 {
    font-size: 1.9rem;
    color: black
}


/* Historical Measurements section */
#historical-measurements .historical-measurements-bottom {
    display: flex;
    flex-direction: column;
}

#historical-measurements .historical-measurements {
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    width: 90%;
}

#historical-measurements .historical-measurements-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#historical-measurements .navigation {
	display: flex;
	flex-direction: row;
	justify-content: center;
    padding-top: 6px;
}

#historical-measurements p {
    font-size: 1.9rem;
    font-weight: 400;
    padding-bottom: 12px;
}

#historical-measurements .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#historical-measurements .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#historical-measurements .arrow {
  border: solid var(--main-complementary-color);
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 8px;
}

#historical-measurements .navigation h1{
	font-size: 1.8rem;
	color: black;
    font-weight: bold;
}

#historical-measurements .navigation a:hover {
	transform: scale(1.1);
}

#historical-measurements #chart_div {
    width: 900px;
    height: 500px;
}

/* Footer section */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #385563 100%);
    width: 100%;
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer .name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    vertical-align: top;
}

#footer p {
    color: white;
    font-size: 1.2rem;
}

/* Tablet/phone */
@media only screen and (min-width: 1200px) {
    #sensorInfo .sensorInfo {
        flex-direction: column;
        padding: 100px 0;
        min-width: 20vh;
        align-items: center;
        justify-content: center;
    }

    #sensorInfo .sensorInfo-bottom {
        flex-direction: row;
        display: flex;
        width: 100%;
        padding: 20px;
        margin: 0;
    }

    #sensorInfo .sensor-item {
        margin: 20px;
        flex-direction: row
    }

    #sensorInfo .sensor-item .icon {
        height: 60px;
        width: 60px;
        margin-bottom: 0px;
    }

    #sensorInfo .sensor-item .icon img {
        object-fit: contain;
        height: 60px;
        width: 60px;
    }

    #sensorInfo .sensor-item .sensor-data {
        width: 100%;
        text-align: center;
        padding-left: 20px;
    }
}